<div class="col-md-6">
  <main class="justify-content-center">
    <app-square [value]="squares[0]" (clickEvent)="handleSquareClick(0)" [ngStyle]="squaresStyle[0]"></app-square>
    <app-square [value]="squares[1]" (clickEvent)="handleSquareClick(1)" [ngStyle]="squaresStyle[1]"></app-square>
    <app-square [value]="squares[2]" (clickEvent)="handleSquareClick(2)" [ngStyle]="squaresStyle[2]"></app-square>
    <app-square [value]="squares[3]" (clickEvent)="handleSquareClick(3)" [ngStyle]="squaresStyle[3]"></app-square>
    <app-square [value]="squares[4]" (clickEvent)="handleSquareClick(4)" [ngStyle]="squaresStyle[4]"></app-square>
    <app-square [value]="squares[5]" (clickEvent)="handleSquareClick(5)" [ngStyle]="squaresStyle[5]"></app-square>
    <app-square [value]="squares[6]" (clickEvent)="handleSquareClick(6)" [ngStyle]="squaresStyle[6]"></app-square>
    <app-square [value]="squares[7]" (clickEvent)="handleSquareClick(7)" [ngStyle]="squaresStyle[7]"></app-square>
    <app-square [value]="squares[8]" (clickEvent)="handleSquareClick(8)" [ngStyle]="squaresStyle[8]"></app-square>
  </main>
</div>
