.square {
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  height: 98px;
  width: 98px;
  padding: 0;
  text-align: center;
  border: none
}

.square:focus {
  box-shadow: none;
}
